hr {
    border: 0;
    width: 100%;
    height: 1px;
    background: #333;
    /* background-image: linear-gradient(to right, #ccc, #333, #ccc); */
}

/* h1 {
  margin: auto;
  /* font-weight: 700; */
  /* font-size: 25px; */
  /* color: #182B52; */
  /* text-align: center; */
  /* font-family: "Raleway", "Ubuntu", sans-serif; */
  /* font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; */
/* } */

p {
  font-family: sans-serif
} */
